.main .order-detail{
	color: #999;
	font-size: 18px;
}
.main .order-detail em{
	color: red;
}
.main .order-prodece{
	display: none;
}
.btn{
	display: block;
	width: 80%;
	background-color: #BA2727;
	margin-left: 10%;
	height: 35px;
	color: white;
	border-radius: 6px;
	line-height: 35px;
	font-size: 20px;
	margin-top: 6px;
	font-weight: bold;
	text-align: center;
}
.main .order-sub input{
	
	width: 90%;
	height: 35px;
	margin-top: 6px;
	border: 0;
	padding-left: 6px;
	margin-left: 5%;
	border-radius: 6px;
}
.main .order-sub textarea{
	width: 90%;
	height: 60px;
	margin-left: 5%;
	margin-top: 6px;
	border: 0;
	padding-left: 6px;
	border-radius: 5px;
	
}
